PROJECT_NAME=Atlas Finance
API_V1_PREFIX=/api/v1
DATABASE_URL=postgresql+psycopg://atlas:atlas@db:5432/atlas_finance
SECRET_KEY=super-secret-change-me
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=120
EXCHANGE_RATE_API_URL=https://api.exchangerate.host/
DEFAULT_CURRENCY=COP
